body {
    margin: 0;
    padding: 0;
    background-color: #17232f !important;
    color: white !important;
    font-family: "Nunito", sans-serif !important;
}

.wrapper {
    display: flex;
    height: 100vh; /* Mengisi tinggi layar penuh */
}

.sidebar {
    width: 250px; /* Lebar sidebar */
    background-color: #333;
    color: #fff;
    overflow-y: auto; /* Jika konten melebihi tinggi sidebar */
    position: fixed; /* Tetap di tempat */
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    flex-direction: column;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

nav .table {
    margin-top: 10%;
}

nav .table tr {
    margin-bottom: 15px;
}

nav .table tr td {
    display: flex;
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

nav .table tr td img {
    width: 20%;
    height: 20%;
    margin-right: 25px;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
}

.content {
    flex: 1;
    margin-left: 250px; /* Menyesuaikan dengan lebar sidebar */
}

.content .judul {
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.atastabel {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* untuk vertikal align */
    gap: 30px; /* jarak antara gambar dan teks */
    font-size: 30px;
}
