body {
    margin: 0;
    padding: 0;
    background-color: #17232f !important;
    color: white !important;
    font-family: "Nunito", sans-serif !important;
}

#top-block {
    height: 45px;
    text-align: left;
    line-height: 45px;
    margin-top: 6px;
    margin-bottom: 22px;
    margin-left: 18px;
}

.floating-login {
    position: fixed;
    bottom: 20px; /* Sesuaikan dengan posisi yang diinginkan */
    left: 0px; /* Sesuaikan dengan posisi yang diinginkan */
    z-index: 1000;
  }
  
  .floating-login button {
    color: white;
    background-color: #203f5e;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    width: 120px;
    height: 35px;
  }
  
  /* Penerapan efek hover untuk tombol */
  .floating-login button:hover {
    background: rgb(121, 121, 136); /* Sesuaikan dengan warna yang diinginkan */
    color: black; /* Sesuaikan dengan warna hover yang diinginkan */
  }
  

nav {
    display: flex;
    align-items: center;
}

#container1 {
    height: 200px;
    text-align: center;
    line-height: 200px;
}


#see-all-button {
    text-align: center;
    cursor: pointer;
    color: #E8F953;
    text-decoration: underline;
}

#container2 .hidden {
    display: none;
}

#text-block {
    height: 22px;
    margin-left: 25px;
    margin-top: 57px;
    line-height: 22px;
}

.carousel-inner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.baris-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-block {
    width: 100px;
    height: 126px;
    float: left;
    margin: 5px;
    text-align: center;
    font-size: 13px;
}

.game-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.grayscale {
    filter: grayscale(100%);
  }
